@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

* {
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
}
a {
  text-decoration: none;
  color: inherit;
}
ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  border: 0;
  clip: rect(0 0 0 0);
}
/* 기본 버튼 디자인 */
button {
  background-color: #d97652;
  color: #fff;
  padding: 11px 24px;
  border-radius: 40px;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
}

img {
  width: 100%;
  height: 100%;
}

.btn-top {
  display: none;
}

::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}
dialog {
  position: fixed;
  width: 300px;
  height: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2e9d8;
}

dialog .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  background-image: url('../img/modal-bg-img.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 200px;
}

dialog .card .img-box {
  margin-top: 40px;
  background-image: url('../img/cat-subscribe.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 60px;
  height: 62px;
  aspect-ratio: 60 / 62;
}

dialog .text-box {
  gap: 10px;
}

dialog .text-box h1 {
  color: #d97652;
  font-size: 24px;
}
dialog .text-box p {
  font-weight: 400;
  font-size: 14px;
  width: 199px;
  text-align: center;
}

dialog .btn-close-modal {
  font-size: 14px;
  position: absolute;
  bottom: 30px;
  text-wrap: nowrap;
  left: 50%;
  transform: translate(-50%, 0);
}

header {
  position: sticky;
  top: 0;
  padding: 24px 20px;
  display: flex;
  justify-content: flex-start;
  z-index: 0;
  background-color: #f2e9d8;
}

.logo-box {
  width: 92px;
  height: 28px;
}

.logo-box img {
  aspect-ratio: 92 / 28;
}

.menu-container {
  padding: 22px 20px;
  position: absolute;
  top: 0;
  left: calc(100% - 52px - 20px);
  display: flex;
  flex-direction: row;
  transition: transform 0.8s;
  background-color: rgba(0, 0, 0, 0);
  z-index: 9999;

  & > :not(.btn-menu-toggle) {
    display: none;
  }
}

/* 모바일 메뉴 여는 버튼 TODO: pc에서는 숨길 것 */
.btn-menu-toggle {
  background-color: rgba(0, 0, 0, 0);
  background-image: url('../svg/menu.svg');
  background-repeat: no-repeat;
  background-size: 32px 32px;
  width: 32px;
  height: 32px;
  padding: 0;
}

/* TODO: 모바일 메뉴열기 */
.menu-container:has(.btn-menu-toggle.open) {
  position: fixed;
  transform: translate(calc(-289px + 72px), 0);
  width: 289px;
  height: 100vh;
  flex-direction: column;
  background-color: #263140;

  & .btn-menu-toggle {
    background-image: url('../svg/arrow-right.svg');
  }
  & > :not(.btn-menu-toggle) {
    display: flex;
  }

  & .menu-box {
    margin-top: 66px;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
  }
  & .menu-nav-box ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
    & .menu-item a {
      color: #fff;
      font-weight: 700;
      font-size: 16px;
      line-height: 100%;
    }
  }
  & .btn-download {
    margin-top: 50px;
    display: inline-block;
    width: min-content;
  }
}

/* 범용 text box */
.text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.text-box .title-text {
  font-weight: 700;
  line-height: 100%;
  font-size: 24px;
  text-align: center;
}
.text-box .desc-text {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(100% + 2px);
  vertical-align: middle;
  text-align: center;
}

main {
  position: relative;
}
main,
footer {
  background-color: #fff;
}

/* TODO: 섹션 1 */
.section-01 {
  display: flex;
  flex-direction: column;
  background-color: #f2e9d8;
  padding: 40px 60px 0;
  text-align: start;
  gap: 30px;
}

.section-01 .title-text {
  font-weight: 700;
  width: 264px;
}

.section-01 .desc-text {
  width: 280px;
}

.section-01 .img-container {
  height: 360px;
}

.section-01 .img-box {
  width: 197px;
  height: 422px;
  margin: 0 auto;
}
.section-01 .img {
  aspect-ratio: 197 / 422;
}

/* 섹션 2 */

.section-02 {
  background-color: #fff;
  position: relative;
  padding: 40px 32px;
}

.section-02 .img-box {
  box-shadow: 10px 10px 20px 0px #00000040;
  border-radius: 18px;
  overflow: hidden;
  width: 326px;
  height: 190px;
}

.section-02 img {
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: 50% 30%;
}

.section-02 .text-box {
  margin-top: 40px;
  gap: 20px;
}

.section-02 [class$='text'] {
  text-align: left;
}

/* 섹션 3 */

.section-03 {
  padding: 0 32px;
  overflow-x: hidden;
}

.section-03 .title-text {
  font-size: 24px;
  color: #d97652;
}
.section-03 .desc-text {
  font-size: 16px;
}

.section-03 .desc-text strong {
  font-weight: 700;
  color: #d97652;
}

.section-03 .caroulcel-container {
  margin-top: 40px;
  display: flex;
  gap: 20px;
}

.section-03 .caroulcel-container .img-box {
  width: 260px;
  height: 260px;
  border-radius: 18px;
  box-shadow: 10px 10px 20px 0px #00000040;
  overflow: hidden;

  & img {
    aspect-ratio: 1 / 1;
  }
}

.section-03 .caroulcel-container + .text-box {
  margin-top: 60px;
}
.section-03 .caroulcel-container + .text-box .desc-text {
  text-align: left;
}

.section-03 button {
  align-self: end;
}

/*섹션 4 */
.section-04 {
  margin-top: calc(50px + 280px);
  position: relative;
  background-image: url('../img/cat-ugly-position.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 -36px;
  aspect-ratio: 390 / 240;
  width: 100%;
  height: 240px;
}
.repaint {
  width: 100%;
  height: 100%;
  background-color: rgba(242, 233, 216, 0.6);
}

.section-04 .subscribe-container {
  position: absolute;
  top: -280px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 326px;
  padding: 36px 32px 30px;
  background-color: #263140;
  color: #fff;
  border-radius: 18px;
}

.subscribe-container .text-box {
  align-items: flex-start;
  gap: 20px;
}

.subscribe-container .title {
  display: inline;
  width: 194px;
  font-size: 24px;
}
.subscribe-container .desc-text {
  text-align: left;
  color: #f2e9d8;
}

.subscribe-container .input-container {
  position: relative;
  margin-top: 42px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.subscribe-container .input-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.subscribe-container .input-box::before {
  display: block;
  content: '';
  position: absolute;
  left: 16px;
  top: 11px;
  width: 18px;
  height: 18px;
  background-image: url('../svg/mail.svg');
  background-size: cover;
  background-repeat: no-repeat;
  aspect-ratio: 1 / 1;
}

.subscribe-container input {
  width: 262px;
  border: none;
  border-radius: 60px;
  padding: 12px 48px;
  font-size: 12px;
}

.subscribe-container input::placeholder {
  color: #767676;
}
.subscribe-container input:focus {
  outline: none;
}

.subscribe-container button {
  width: min-content;
  align-self: flex-end;
}

/* 푸터 */
footer {
  padding: 30px 20px 24px;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  position: relative;
}

.footer-content-container {
  display: flex;
  flex-direction: column;
  gap: 58px;
}

.footer-content-container .logo-box {
  width: 112px;
  height: 34px;
}

.footer-content-container .logo-box img {
  aspect-ratio: 112 / 34;
}

.footer-content-container .sns-container ul {
  display: flex;
  gap: 16px;
  height: 32px;
}

.sns-container .sns-item img {
  aspect-ratio: 1 / 1;
  width: 32px;
  height: inherit;
  background-color: #f29d52;
  border-radius: 50%;
  padding: 6.86px;
}

footer .menu-box ul {
  width: 85px;
  height: 120px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 14px;
  color: #767676;
  font-weight: 400;
  line-height: 100%;
}

footer .menu-box .menu-item {
  text-align: right;
  height: 100%;
}

/* 반응형 pc화면 용 */
@media screen and (min-width: 1280px) {
  /* 기본 버튼 디자인 */
  button {
    padding: 15px 29px;
    font-size: 16px;
    line-height: calc(100% + 2px);
  }

  .btn-top {
    display: block;
    position: fixed;
    background-color: #f9f7f4;
    width: 50px;
    height: 50px;
    border: 1px solid #c4c4c4;
    border-radius: 50%;
    right: 24px;
    bottom: 184px;
    z-index: 10;
  }
  .btn-top::before {
    content: '';
    display: block;
    position: absolute;
    background-image: url('../svg/top-btn.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 40px;
    height: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  dialog {
    width: 600px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2e9d8;
  }

  dialog .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }

  dialog .card .img-box {
    margin-top: 60px;
    width: 110px;
    height: 112px;
    aspect-ratio: 110 / 112;
  }

  dialog .text-box {
    gap: 12px;
  }

  dialog .text-box h1 {
    font-size: 36px;
  }

  dialog .text-box p {
    width: auto;
  }

  dialog .btn-close-modal {
    font-size: 16px;
    bottom: 40px;
  }

  /* 헤더 */
  header {
    padding: 31px calc((100vw * 0.33) / 2);
    display: flex;
    justify-content: space-between;
    /* position: static; */
  }

  .logo-box {
    width: 130px;
    height: 40px;
  }

  .logo-box img {
    aspect-ratio: 130 / 40;
  }

  /* 메뉴 */
  .btn-menu-toggle {
    display: none;
  }
  .menu-container {
    position: static;
    padding: 0;
    transition: none;
    z-index: auto;
    & > :not(.btn-menu-toggle) {
      display: flex;
    }
  }

  .menu-box {
    color: #000;
    gap: 40px;
    align-items: center;
  }

  .menu-nav-box ul {
    display: flex;
    gap: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
  }

  /* 범용 text box */
  .text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .text-box .title-text {
    font-weight: 700;
    font-size: 48px;
    line-height: calc(100% + 8px);
  }
  .text-box .desc-text {
    font-size: 16px;
    line-height: calc(100% + 6px);
  }

  .section-01,
  .section-02,
  .section-03,
  footer {
    padding: 0 calc((100vw * 0.33) / 2);
  }

  /* 섹션 1 */
  .section-01 {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 32px;
  }

  .section-01 .text-box {
    align-items: flex-start;
    text-align: left;
    padding-top: 168px;
  }

  .section-01 .title-text {
    text-align: inherit;
    max-width: 737px;
    width: auto;
  }

  .section-01 .desc-text {
    text-align: inherit;
    width: 439px;
  }

  .section-01 .img-container {
    height: auto;
  }

  .section-01 .img-box {
    width: 415px;
    height: 766px;
    margin: 0;
    transform: translateY(0);
  }
  .section-01 img {
    aspect-ratio: 415 / 766;
  }

  /* 섹션 2 */
  .section-02 {
    display: flex;
    gap: 40px;
    padding-top: 80px;
    padding-bottom: 120px;
    justify-content: space-between;
  }

  .section-02 .img-box {
    box-shadow: 10px 10px 30px 0px #00000040;
    border-radius: 30px;
    width: 660px;
    height: 390px;
  }

  .section-02 img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: 50% 30%;
  }

  .section-02 .text-box {
    width: 510px;
    margin-top: 0;
    justify-content: center;
    gap: 20px;
  }

  .section-02 [class$='text'] {
    text-align: left;
  }

  .section-02 .title-text {
    font-size: 36px;
  }

  /* 섹션 3 */

  .section-03 {
    overflow-x: auto;
  }

  .section-03 .desc-text {
    width: 739px;
  }

  .section-03 .desc-text strong {
    font-weight: 700;
    color: #d97652;
  }

  .section-03 .caroulcel-container {
    margin-top: 88px;
    display: flex;
    justify-content: center;
    gap: 72px;
  }

  .section-03 .caroulcel-container .img-box {
    width: 378px;
    height: 378px;
    border-radius: 18px;
    box-shadow: 10px 10px 30px 0px #00000040;
    overflow: hidden;

    & img {
      aspect-ratio: 1 / 1;
    }
  }

  .section-03 .caroulcel-container + .text-box {
    margin-top: 90px;
    flex-direction: row;
    gap: 52px;
    justify-content: center;
  }
  .section-03 .caroulcel-container + .text-box .desc-text {
    text-align: left;
    width: 739px;
  }

  .section-03 button {
    align-self: end;
  }

  /*섹션 4 */
  .section-04 {
    margin-top: 196px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -590px;
    aspect-ratio: 1920 / 340;
    width: 100%;
    height: 340px;
  }

  .section-04 .subscribe-container {
    top: -50%;
    transform: translate(-50%, 25%);
    width: 1280px;
    padding: 50px 58px;
    background-color: #263140;
    color: #fff;
    border-radius: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .subscribe-container .text-box {
    width: 491px;
    align-items: flex-start;
    gap: 18px;
  }

  .subscribe-container .title {
    display: inline;
    width: inherit;
    font-size: 36px;
  }
  .subscribe-container .desc-text {
    font-size: 14px;
  }

  .subscribe-container .input-container {
    position: relative;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .subscribe-container .input-box {
    flex-direction: row;
    gap: 0;
    background-color: #fff;
    border-radius: 60px;
  }

  .subscribe-container .input-box::before {
    display: block;
    content: '';
    position: absolute;
    left: 28px;
    top: 18px;
    width: 24px;
    height: 24px;
  }

  .subscribe-container input {
    min-width: 384px;
    width: auto;
    padding: 20px 68px;
    padding-right: 0;
    font-size: 16px;
    line-height: calc(100% + 4px);
  }

  .subscribe-container button {
    min-width: 136px;
    margin: 5px;
    width: min-content;
    align-self: auto;
  }

  /* 푸터 */
  footer {
    padding-top: 45px;
    padding-bottom: 45px;
    display: flex;
    justify-content: flex-start;
  }

  .footer-content-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 0;
    justify-content: space-between;
    align-items: center;
  }

  .footer-content-container .logo-box {
    width: 226px;
    height: 70px;
  }

  .footer-content-container .logo-box img {
    aspect-ratio: 226 / 70;
  }

  .footer-content-container .sns-container ul {
    display: flex;
    gap: 20px;
    height: 32px;
  }

  .sns-container .sns-item img {
    aspect-ratio: 1 / 1;
    width: 42px;
    height: inherit;
    border-radius: 50%;
    padding: 9px;
  }

  footer .menu-box {
    display: none;
  }
}
